<div class="gallery-container">
    <div class="items-container">
        @for (item of paginatedProducts; track item) {
            <app-product-item 
                [imgUrl]="item.productImageUrl" 
                [supplier]="item.supplier.supplierName" 
                [title]="item.productName" 
                [category]="item.productCategory.name"
                [description]="item.productDescription"
                [price]="item.price_in_cents"
                >

            </app-product-item>
            }
    </div>
    <button [class.invisible]="!loadMoreButton" (click)="onLoadMore()" class="load-more-button">Carregar Mais</button>
</div>