.gallery-container {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    .items-container {
        display: flex;
        gap: 3rem;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}