.gallery-container {
    display: flex;
    flex-direction: column;
    
    width: 100%;

    .items-container {
        display: flex;
        gap: 3rem;
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .load-more-button {
        margin: 2rem auto;
        padding: 1rem 2rem;
        background-color: var(--mainColor);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-weight: bold;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        
        &:hover {
            transform: scale(1.02);
        }
    }

    .invisible {
        display: none;
    }

}