<div class="footer-container">
    <div class="address">
        <div>
            <h2>nosso endereço</h2>
            <span>Rua Itaeté, 434 – Pitangueiras – Lauro de <br /> Freitas – BA – CEP: 42701-360</span>
        </div>
        <div>
            <h3>Horário de Funcionamento:</h3>
            <span>Segunda à sexta : 08:00 às 17:30</span>
        </div>
    </div>
    <div class="contact">
        <h2>entre em contato</h2>
        <span>Whatsapp: (71) 99241-9709</span>
        <div class="imgs-container">
            <a href="https://api.whatsapp.com/send?phone=5571992419709&text=Ol%C3%A1%2C%20estou%20no%20site%20da%20Fitoherb%20e%20gostaria%20de%20falar%20com%20algu%C3%A9m%2C%20meu%20nome%20%C3%A9%3A"><img src="https://play-lh.googleusercontent.com/bYtqbOcTYOlgc6gqZ2rwb8lptHuwlNE75zYJu6Bn076-hTmvd96HH-6v7S0YUAAJXoJN" alt="Whatsapp"></a>
            <a href="https://www.instagram.com/fitoherb/"><img src="https://play-lh.googleusercontent.com/VRMWkE5p3CkWhJs6nv-9ZsLAs1QOg5ob1_3qg-rckwYW7yp1fMrYZqnEFpk0IoVP4LM" alt="Instagram"></a>
        </div>
    </div>
</div>