.footer-container {
    background-color: var(--main);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 25vh;
    padding: 0 10%;

    h2 {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 600;
    }

    h3 {
        font-size: 1rem;
        font-weight: 500;
    }

    .address {
        display: flex;
        flex-direction: column;
        gap: 1rem
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
        }

        span {
            margin: 0.5rem 0 0.25rem 0
        }

        .imgs-container {
            display: flex;
            gap: 1rem;
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 0.5rem;
            }
        }

    }


}