.nav-container {
    display: flex;
    width: 100%;
    // background-color: aqua;
    justify-content: center;
    height: 20vh;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: aqua;
        img {
            height: 70%;
        }
    }

    ul {
        // background-color: aquamarine;
        display: flex;
        justify-content: space-around;
        align-items: center;

        gap: 8rem;
        list-style-type: none;
        padding: 5rem;

        li a {
                text-decoration: none;
                outline: none;
                color: black;
        }
    }

}