<app-navbar></app-navbar>
<app-banner-carousel></app-banner-carousel>
<h1>Fitoherb Nordeste Distribuidora</h1>
<p>A FITOHERB NORDESTE DISTRIBUIDORA é uma das maiores distribuidoras do nordeste e referência nos segmentos de medicamentos fitoterápicos, alimentos nutracêuticos e naturais, apícolas, cosméticos, oficinais e suplementação esportiva.
    <br />
    <br />
    Atuamos no mercado a mais de 23 anos, abrangendo os estados da Bahia, Sergipe, com foco no canal farma, canal alimentar e loja de produtos naturais. Centro de distribuição totalmente adequado às normas da Agência Nacional de Vigilância Sanitária – ANVISA.</p>
<app-images-carousel></app-images-carousel>
<app-footer></app-footer>
