<button (click)="handleCloseModal()" class="modal-overlay"></button>
<div class="entire-modal">
    <div class="close-modal-box">
        <button (click)="handleCloseModal()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="modal-content">
        <h2>{{title}}</h2>
        <div class="modal-buttons">
            <button (click)="handleConfirm()" class="confirm-button"><mat-icon>{{confirmIcon}}</mat-icon>Sim</button>
            <button (click)="handleCloseModal()" class="cancel-button"><mat-icon>{{refuseIcon}}</mat-icon>Não</button>
        </div>
</div>