<app-navbar></app-navbar>
<div class="entire-page-admin">
  <div class="select-data-box" >
    <app-select-data [items]="selectItems"></app-select-data>
    <app-button (clicked)="handleClick()"></app-button>
  </div>
  <div class="table-container">
    @if(selectedItem == "products") {
      <app-table 
      [data]="products" 
      [columns]="productColumns" 
      (clickedDelete)="handleDeleteProduct($event)"
      (clickedEdit)="handleEditProduct($event)"
      >
    </app-table>
    }@else if (selectedItem == "suppliers") {
      <app-table 
      [data]="suppliers" 
      [columns]="supplierColumns" 
      (clickedDelete)="handleDeleteSupplier($event)"
      (clickedEdit)="handleEditSupplier($event)"
      >
    </app-table>
    }@else if (selectedItem == "categories") {
      <app-table 
      [data]="categories" 
      [columns]="categoryColumns" 
      (clickedDelete)="handleDeleteCategory($event)"
      (clickedEdit)="handleEditCategory($event)"
      >
    </app-table>
    }
    @else if (selectedItem == "users") {
      <app-table 
      [data]="users" 
      [columns]="userColumns" 
      (clickedDelete)="handleDeleteUser($event)"
      (clickedEdit)="handleEditUser($event)"
      >
    </app-table>
    }
  </div>
</div>

<app-logout (logout)="handleLogout()" />
@if(isModalLogoutOpen) {
  <app-modal-logout 
  (closeModal)="handleLogout()" 
  title="Are you sure you want to log out?"
  confirmIcon="logout"
  refuseIcon="close"
  />
}

@if(isModalOpen) {
  <app-modal-crud (clicked)="handleModalClose()" [selectedItem]="selectedItem" (sentForm)="handleCreated()" [idEditing]="idEditing" />
}