<app-navbar></app-navbar>
<div class="entire-page-admin">
  <div class="select-data-box" >
    <app-select-data [items]="selectItems"></app-select-data>
    <app-button (clicked)="handleClick()"></app-button>
  </div>
  <div class="table-container">
    @if(selectedItem == "products") {
      <app-table [data]="products" [columns]="productColumns"></app-table>
    }@else if (selectedItem == "suppliers") {
      <app-table [data]="suppliers" [columns]="supplierColumns"></app-table>
    }@else if (selectedItem == "categories") {
      <app-table [data]="categories" [columns]="categoryColumns"></app-table>
    }
  </div>
</div>

@if(isModalOpen) {
  <app-modal-crud (clicked)="handleModalClose()" />
}



<!-- <form [formGroup]="supplierForm" (ngSubmit)="addSupplier()">
    <label for="supplierName">Supplier Name:</label>
    <input
      type="text"
      id="supplierName"
      formControlName="supplierName"
      placeholder="Enter supplier name"
    />
    <div *ngIf="supplierForm.get('supplierName')?.invalid && supplierForm.get('supplierName')?.touched">
      Supplier name is required.
    </div>
  
    <label for="imageInput">Supplier Image:</label>
    <input
      type="file"
      id="imageInput"
      (change)="onFileSelect($event)"
    />
    <div *ngIf="supplierForm.get('image')?.invalid && supplierForm.get('image')?.touched">
      Image is required.
    </div>
  
    <label for="isMaster">Is Master:</label>
    <input
      type="checkbox"
      id="isMaster"
      formControlName="isMaster"
    />
  
    <button type="submit" [disabled]="supplierForm.invalid">Add Supplier</button>
  </form>
   -->