<div class="item-container">
    <button class="title-box" (click)="handleClick()">
        <span>{{    title   }}</span>
        @if(isClicked) {
            <mat-icon>keyboard_arrow_down</mat-icon>
        }@else {
            <mat-icon>keyboard_arrow_up</mat-icon>
        }
        
    </button>
    <div class="checkbox-container" [class.expanded]="isClicked" [class.not-expanded]="!isClicked">
        @if (isClicked && info == "categories") {
            @for (item of categories; track item) {
                <app-checkbox type="category" [title]="item.name"></app-checkbox>
            }
        }
        @else if(isClicked && info == "suppliers") {
            @for (item of suppliers; track item) {
                <app-checkbox type="supplier" [title]="item.supplierName"></app-checkbox>
            }
        }
    </div>
</div>
