button {
    padding: 0.5rem;
    color: white;
    background-color: var(--mainColor);
    border-radius: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1rem 0;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    transform: scale(1.02);
}