form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

    .form-item {
        display: flex;
        flex-direction: column;
        width: 45%;
        justify-content: flex-end;

        label {
            margin: 1rem 0;
            font-weight: 500;
            color: var(--mainColor);
            font-size: 1.5rem;
        }
    
        input, select {
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            border: solid 1px #777;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            font-size: 1.25rem;
        }

    }

    .button {
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }



}