$boxSize: 250px; 

.product-item-container {

    text-align: center;

    h3 {
        font-size: 1.25rem;
        font-weight: 500;
        margin: 0.25rem 0;
        width: $boxSize;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
    }

    .info-container {
        border: 1px solid black;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


        p {
            font-size: 1.25rem;
        }

        .box {
            width: $boxSize;
            height: $boxSize;
            margin: 0.5rem 0;
        
        
            .background {
                width: $boxSize;
                height: $boxSize;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                background-position: center;
            }
        
            p {
                width: 100%;
                height: 100%;
                font-size: 1rem;
                text-align: justify;
                padding: 1.5rem;
                color: transparent;
                
            }
        
            
        }

        
        .box-container:hover .box {
            transform: rotateY(180deg);
            transition: 1s ease;
        
            .background {
                filter: opacity(0.1);
            }
            
            p {
                color: black;
                transform: scale(1.05) rotateY(180deg);
                transition: 1s ease-out;
                position: relative;
            }
        }

        .under-info-container {
            display: flex;
            flex-direction: column;
            p {
                font-size: 1rem;
                border-top: 1px solid black;
                margin: 0;
                padding: 0.25rem 0.5rem;
                text-align: left;
            }
        }
        
        
    }
    

}


