.product-item-container {

    text-align: center;

    h3 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0.25rem 0;
        width: 300px;
        white-space: nowrap;
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    
    span {
        font-size: 1.25rem;
    }
}


.box {
    width: 300px;
    height: 300px;
    border: solid 1px black;
    margin: 0.5rem 0;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    .background {
        width: 298px;
        height: 298px;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
    }

    p {
        width: 100%;
        height: 100%;
        font-size: 1.25rem;
        text-align: justify;
        padding: 1.5rem;
        color: transparent;
        
    }

    
}

.box-container:hover .box {
    transform: scale(1.05) rotateY(180deg);
    transition: 1s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);

    .background {
        filter: opacity(0.5);
    }
    
    p {
        color: black;
        transform: scale(1.05) rotateY(180deg);
        transition: 1s ease-out;
        position: relative;
    }
}
