.pageitem-container {
    width: 3.5rem;
    height: 3.5rem;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    border-radius: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    span {

        color: white;
        font-size: 1.5rem;
    }
}

.pageitem-container:hover {
    transform: scale(1.02);
    transition: 0.25s ease;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}