<div class="carousel-container">
    <button (click)="prev()" class="arrow"><</button>
    <div class="carousel-box" 
    [ngStyle]="{
      'width': (sizeImg * numImg) + 'px',
      'height': (sizeImg) + 'px'
      }">
        <div class="carousel-track" [style.transform]="transform">
          <ng-container *ngFor="let image of images; let i = index">
            <img 
            [src]="image" 
            alt="Image"
            class="carousel-image"
            [ngStyle]="{
              'width': sizeImg + 'px',
              'height': (sizeImg) + 'px'
              }">
          </ng-container>
        </div>
      </div>
      <button (click)="next()" class="arrow">></button>
</div>
