<div class="pagelist-container">
    @if(offset > 0) {
        <button  
        (click)="previousPageGroup()" 
        class="pagination-arrow"
        mat-icon-button
      >
        <mat-icon>chevron_left</mat-icon>
      </button>
    }
    @for(page of visiblePages; track page) {
        <app-pageitem [index]="page" (pageClicked)="onPageClick(page)"></app-pageitem>
    }
    @if(offset + maxVisible < pags.length) {
        <button 
          (click)="nextPageGroup()" 
          class="pagination-arrow"
          mat-icon-button
        >
          <mat-icon>chevron_right</mat-icon>
        </button>
    }
  </div>
  